

:root {
    --font-family: 'DM Sans', sans-serif;
    --transition: all .5s ease-in-out;
}

.checkout_title h1
{
    font-family: var(--font-family);
    color: var(--main-color1) !important;
}
.checkout_section .card .card-header
{
    background-color: var(--my-color1);
}

.checkout_section form label
{
   font-family: var(--font-family);
}
.checkout_section form input
{
    height: 53px !important;
    border: 1px solid #77777753;
}
.checkout_section form textarea
{
    border: 1px solid #7777774b !important;
}
.checkout_section form input:focus,
.checkout_section form textarea:focus
{
     outline: 2px solid #0147974c !important;
     border: 1px solid #7777774b !important;
}

.checkout_section table tr
{
    height: 30px;
}

.checkout_section table tr td,
.checkout_section table tr th
{
    font-family: var(--font-family);
}
.checkout_section table tfoot tr th
{
    font-size: 20px;
}

.checkout_section .subscribe
{
    height: 57px;
}

.checkout_section .subscribe
{
    background: var(--main-color1) !important;
    border: 2px solid var(--main-color1);
    transition: var(--transition);
}
.checkout_section .subscribe:hover
{
    border: 2px solid var(--main-color1) !important;
    transform: scale(1.02);
}
.checkout_section .subscribe span
{
    font-family: var(--font-family);
}
.checkout_section .subscribe span i
{
    transition: var(--transition);
}
.checkout_section .subscribe:hover span i
{
    transform: translate(20px, 0);
}
