
footer
{
    background-color: #0b230b;
    background-color: #00142a;
}

footer .logo img
{
    width: 120px !important;
    height: 80px !important;
}

footer .footer_para p
{
    font-family:var(--font-family);
}

footer .supported_credit_cards img
{
    width: 40px;
    height: auto;
}

footer h5
{
    color:var(--main-color1);
}

footer ul
{
    list-style: none;
}

footer .contact_part a
{
    color: #FFFF;
    text-decoration: none;
}

footer .contact_part a i
{
    color: var(--main-color1);
    font-size: 20px;
}

footer .quick_links ul li a
{
    display: block;
    transition: var(--transition);
}
footer .quick_links ul li a:hover
{
    transform: translate(5px,0);
    text-decoration: none;
}

footer .footer_social_links a i
{
    color: #FFFF !important;
    font-size: 24px;
    transition: var(--transition);
}

footer .footer_social_links a:hover i
{
     transform: scale(1.3);
     color: var(--my-color1) !important;
}

footer .copyright p
{
     color: #545454;
}

footer .copyright p a
{
    color: var(--main-color1);
}


@media (max-width:776px)
{
    footer .footer_para p
    {
        width:65%;
    }
}

@media (max-width:576px)
{
    footer .footer_para p,
    footer .copyright p
    {
        width:100%;
    }

}

